    <div
    class="sidenav"
    [ngClass]="isLeftSidebarCollapsed() ? 'sidenav-collapsed' : ''"
    >
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">
        <mat-icon>menu</mat-icon>
        </button>
        @if (!isLeftSidebarCollapsed()) {
            <img src="dedikall.png" alt="Dedikall Logo" class="logo-img" />
            <button class="btn-close" (click)="closeSidenav()">
            <mat-icon class="close-icon">close</mat-icon>
            </button>
        }

    </div>
    <div class="sidenav-nav">
        @for (item of items; track $index) {
        <li class="sidenav-nav-item">
            <a
            class="sidenav-nav-link"
            [routerLink]="item.routeLink"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >
            <mat-icon class="sidenav-link-icon">{{ item.icon }}</mat-icon>
            @if (!isLeftSidebarCollapsed()) {
                <span class="sidenav-link-text">{{ item.label }}</span>
            }
            </a>
        </li>
        }
    </div>
    </div>
